@use '../../pages/index.scss' as index;

.informationsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;

    span {
        @include index.default-label();
        .informations {
            font-style: italic;
            font-weight: 300;
        }
    }
}
