@use '../../pages/index.scss' as index;
@use '../../pages/root.scss' as root;
.breadContainer {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 1%;

    .bLabel {
        @include index.default-label(13px, 2%, none, 300, 1, left);
        color: root.$color;
        margin: 1px;
        margin-right: 10px;
        color: root.$color;
        cursor: pointer;
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
    }

    .active {
        color: root.$btnBgc;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .breadContainer {
        .bLabel {
            @include index.default-label(13px, none, none, 100, 15px, left);

            margin-right: 2px;
            color: root.$color;
        }
        .active {
            color: blue;
        }
    }
}
