@use '../../pages/index.scss' as index;
@use '../../pages/root.scss' as root;
.inputContainer {
    display: flex;
    flex-direction: row;

    input[type="text"] {
        width: 100%;
        border: 1px solid #aaa;
        border-radius: 4px;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: 0.3s;
        font-style: italic;
        font-size: 15;
    }

    input[type="text"]:focus {
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
        font-family: root.$fontFamily;
        font-style: italic;
        font-size: 15;
    }

    button {
        background-color: root.$color;
        color: white;
        border: none;
        border-radius: 5px;
        height: 32px;
        cursor: pointer;
    }

    .disabled {
        background-color: #bec7d0;
        height: 32px;
    }
}
