@use '../../pages/index.scss' as index;
@use '../../pages/root.scss' as root;
.header {
    overflow: hidden;
    background-color: white;
    padding: 5px 10px;
    display: grid;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .headerLeft {
        grid-column: span 4;
        display: flex;
        align-items: center;
    }

    .headerRight {
        grid-column: span 8;

        div {
            justify-content: flex-end;
            display: flex;
            flex-direction: row;
            width: 100%;
            right: 0;
            align-items: center;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        color: black;
        text-align: left;
        text-decoration: none;
        font-size: 15px;
        line-height: 25px;
        border-radius: 4px;
    }

    a.logo {
        font-size: 25px;
        font-weight: bold;
        @include index.default-label(18px, 1x, 10, 500, 28px, left);
    }

    a.active {
        background-color: root.$color;
        color: white;
        height: 40px;
        width: 40px;
        @include index.default-shadow();
    }
    .active:hover {
        cursor: pointer;
    }
}

.header-right {
    float: right;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .header {
        .headerLeft {
            grid-column: span 12;
        }

        .headerRight {
            grid-column: span 12;

            div {
                justify-content: flex-end;
                display: flex;
                flex-direction: row;
                width: 100%;
                right: 0;
            }
        }
    }
}
