@use '../../pages/index.scss' as index;
@use '../../pages/root.scss' as root;
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    @include index.default-shadow();

    .left {
        max-width: 300px;
        max-height: 350px;
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 3rem;
        overflow: hidden;
        padding: 2%;
        object-fit: contain;

        img {
            object-fit: contain;
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }

    .right {
        grid-column: span 8;
        margin-left: 5%;
        padding-top: 2%;
        .title {
            @include index.default-label(25px, 0, 100%, 300, 30px, left);
            text-transform: lowercase;
        }
        .subTitle {
            @include index.default-label(17px, 1%, 100%, 300, 15px, left);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .card {
        .left {
            grid-column: span 12;
        }
        .right {
            grid-column: span 12;
            margin-left: 5%;
            padding-top: 2%;
            .title {
                @include index.default-label(15px, 0, 100%, 300, 30px, left);
                text-transform: lowercase;
            }
            .subTitle {
                @include index.default-label(13px, 1%, 100%, 200, 15px, left);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    /* Styles */
}
